.worktrees/
.idea/
.vscode/
*.log
.venv/
node_modules/
build/
.gradle/
bin/
out/
.gradle/
build/
docker/data/
.classpath
.project
.settings/
.factorypath
docker/data/
.env
subjects.csv
subject_summary.csv
links_ctdt_tu_*.csv
